@media screen and (min-width: 800px) {

	.text {
		display: inline-block;
	}

	.container {
	}

	.bg-image-pc {
		width: 100%;
		height: 100vh;
		object-fit: cover;
		object-position: top left;
	}

	.bg-image-phone {
		display: none;
	}

	.logo-image-phone {
		display: none;
	}

	.wrap-image {
		height: 100vh;
		background-image: url("../../../assets/img/top_07.jpg");
		background-repeat: no-repeat;
		background-position: left center;
		background-size: cover;
	}

	.wrap-image > .title {
		position: absolute;
		left: 8%;
		bottom: 14%;
		color: #595757;
	}

	.title-main {
		font-size: 3rem;
		background-color: white;
		padding: 0.3rem;
		font-weight: 900;
	}

	.title-sub {
		background-color: white;
		padding: 0.3rem;
	}

	.title > * > h2, .title > * > p {
		margin-top: 1rem;
	}

	.title > * > h2 {
		font-weight: 700;
	}

	.wrap-count {
		height: 100vh;
	}

	.count {
		background-color: #343434;
		background-image: url("../../../assets/img/Countdown.png");
		background-repeat: no-repeat;
		background-position: top;
		background-size: 120%;
		height: 80%;
		width: 80%;
		margin-left: 10%;
		margin-top: 5%;
		color: white
	}

	.count-made {
		text-align: center;
		padding-top: 3rem;
		font-size: 2rem;
	}

	.comming-image {
		width: 30%;
		height: auto;
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	.wrap-commingimage{
		width: 100%;
		text-align: center;
	}

	.count-suji {
		padding-top: 2rem;
		text-align: center;
		font-size: 2.5rem;
		font-weight: 700;
	}
	.count-image {
		width: 15%;
	}

	.wrap-notice {
		padding-left: 10%;
		padding-right: 10%;
		color: #a94442;
		height: 40vh;
		margin-top: 5%;
		border: solid 2px #a94442;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.wrap-notice > h1 {
		margin-bottom: 1rem;
		font-size: 3rem;
		font-weight: 900;
	}

	.wrap-notice > p {
		line-height: 2.5rem;
		font-size: 1.2rem;
	}

	.wrap-concept {
		background-image: url("../../../assets/logo/concept.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		padding-left: 10%;
		padding-right: 10%;
		color: #595757;
		height: 40vh;
		margin-top: 10%;
		margin-bottom: 10%;
	}

	.wrap-concept > h1 {
		margin-bottom: 1rem;
		font-size: 3rem;
		font-weight: 900;
	}

	.wrap-concept > p {
		line-height: 2.5rem;
		font-size: 1.2rem;
	}

	.wrap-youtube {
		height: 90vh;
		text-align: center;
		margin-top: 15vh;
	}

	.youtube {
		width: 60%;
		height: 60vh;
	}

	.wrap-table {
		padding-left: 10%;
		color: #595757;
		background-image: url("../../../assets/img/top_06.jpg");
		background-size: 100% auto;
	}

	.wrap-table > .title {
		font-size: 3rem;
		margin-top: 1.5rem;
	}


	li{
		margin-bottom: 2rem;
	}

	.columns {
		display: flex;
		flex-direction: row;
		margin-top: 3em;
		margin-left: 5%;
	}

	.column {
		display: flex;
		width: 45%;
		padding-bottom: 15vh;
	}

	.sidebar {
		width: 2px;
		height: 100%;
		background-color: #666666;
	}

	.sub-title {
		color: #1F6DFF;
		font-weight: bold;
		margin-bottom: 1rem;
		text-transform: capitalize;
	}

	.main {
		font-size: 2rem;
		font-weight: 700;
	}

	.sub {
		font-weight: bold;
		margin-top: 0.8rem;
		margin-bottom: 0.8rem;
		color: #666666;
	}

	.jp {
		margin-left: 2rem;
		font-size: 1.5rem;
	}

	.line {
		height: 3.5rem;
	}

	ul {
		list-style: none;
	}

}
