@media screen and (max-width: 599px) {
	.bg-image-pc {
		display: none;
	}

	.bg-image-phone {
		height: 100vh;
		width: 100vw;
		object-fit: cover;
		object-position: 10% 0;
	}

	.logo-image-phone {
		position: absolute;
		width: 100%;
		height: auto;
		left: 0;
		top: 5%;
	}

	.wrap-image {
		margin-bottom: 2vh;
	}

	.wrap-toolbar {
		display: none;
	}

	.wrap-image > .title {
		position: absolute;
		width: 100%;
		left: 0;
		top: 60%;
		text-align: center;
		color: #595757;
	}

	.title-main {
		font-size: 2rem;
		background-color: white;
		padding: 0.3rem;
	}

	.title-sub {
		font-size: 1rem;
		background-color: white;
		padding: 0.3rem;
	}

	.title > h2 {
		margin-top: 1rem;
	}

	.wrap-count {
		width: 100vw;
	}

	.count {
		background-color: #343434;
		background-image: url("../../../assets/img/Countdown.png");
		background-repeat: no-repeat;
		background-position: top;
		background-size: 120%;
		height: 100%;
		width: 100%;
		color: white
	}

	.count-made {
		text-align: center;
		padding-top: 1.2rem;
		font-size: 1.4rem;
	}

	.comming-image {
		width: 40%;
		padding-top: 0.8rem;
	}

	.wrap-commingimage{
		width: 100%;
		text-align: center;
	}

	.count-suji {
		padding-top: 0.8rem;
		text-align: center;
		font-size: 1.2rem;
	}
	.count-image {
		width: 15%;
	}

	.wrap-concept {
		background-image: url("../../../assets/logo/clipped.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 75%;
		color: #595757;
		padding-left: 5%;
		padding-right: 5%;
		margin-bottom: 3rem;
	}

	.wrap-concept > h1 {
		margin-top: 3rem;
		margin-bottom: 1rem;
		font-size: 1.8rem;
	}

	.wrap-concept > p {
		line-height: 1.5rem;
		font-size: 0.8rem;
	}

	.wrap-youtube {
		text-align: center;
	}

	.youtube {
		width: 60%;
		height: auto;
	}

	.wrap-table {
		padding-left: 5%;
		color: #595757;
		background-size: 100% auto;
		padding-bottom: 15vh;
	}

	.wrap-table > .title {
		font-size: 1.8rem;
		padding-top: 10%;
	}


	li{
		margin-bottom: 1rem;
	}

	.columns {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: start;
		margin-top: 3em;
	}

	.column {
		display: flex;
		width: 100%;
	}

	.sidebar {
		width: 2px;
		height: 100%;
		background-color: #666666;
	}

	.sub-title {
		color: #1F6DFF;
		font-weight: bold;
		margin-bottom: 1rem;
	}

	.main {
		font-size: 1.8rem;
		font-weight: bold;
	}

	.sub {
		font-weight: bold;
		margin-top: 0.8rem;
		margin-bottom: 0.8rem;
		color: #666666;
	}

	.jp {
		color: #666666;
		margin-left: 2rem;
	}

	.line {
		height: 3.5rem;
	}

	ul {
		list-style: none;
		padding: 0 !important;
		margin: 0 !important;
	}

	.footer {
		height: 60vh;
	}

	#the-footer {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
		background-color: #000;
		color: #7f7f7f;
	}

	.info {
		display: flex;
		flex-direction: column;
		width: 70%;
	}

	.el {
		margin-bottom: 1.5rem;
	}

	.el > a:link {
		color: #7f7f7f;
	}

	.el > a:visited {
		color: #7f7f7f;
	}
}
